/*Desktop View*/

@media screen and (min-width: 961px) {
  .contact-card {
    display: grid;
    grid-template-rows: 15px 15px 20px 20px 20px;
    grid-template-columns: 130px calc(70% - 91px) calc(30% - 39px);
    grid-template-areas:
      'picture name name'
      'picture position position'
      'picture description contact'
      'picture description contact'
      'picture description contact';
    grid-gap: 10px;
    font-family: "Ringside Narrow A", "Ringside Narrow B", sans-serif;
    margin-bottom: 20px;
  }

  .contact-card .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

/*Tablet View*/

@media screen and (max-width: 960px) and (min-width: 599px) {
  .contact-card {
    display: grid;
    grid-template-rows: 15px 15px 80px 20px;
    grid-template-columns: 130px auto;
    grid-gap: 10px;
    grid-template-areas:
      'picture name'
      'picture position'
      'picture description'
      'contact contact';
    font-family: "Ringside Narrow A", "Ringside Narrow B", sans-serif;
    margin-bottom: 30px;
  }

  .contact-card .contact {
    color: #666666;
    grid-area: contact;
    display: flex;
    justify-content: center;
  }

  .contact-card .contact .views-field-field-e-mail {
    padding: 0 15px;
  }

  .contact-card .contact .views-field-field-phone,
  .contact-card .contact .views-field-field-room-number {
    border-right: 2px solid #666666;
    padding: 0 15px;
  }
}

/*Mobile View*/

@media screen and (max-width: 595px) {
  .contact-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .contact-card .views-field-field-image {
    height: 120px;
    margin-bottom: 10px;
  }

  .contact-card .contact {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contact-card .views-field-field-position {
    margin-bottom: 10px;
  }

  .contact-card .views-field-field-phone {
    padding-right: 10px;
  }

  .contact-card .views-field-field-room-number {
    padding-left: 10px;
  }

  .contact-card .views-field-field-phone {
    border-right: 2px solid #666666;
  }

  .contact-card .views-field-field-e-mail {
    margin-top: 10px;
  }

  .contact-card .views-field-body {
    padding: 10px 0;
  }

}

/*Common styles*/

#page-title {
  text-align: center;
}

.contact-card .views-field-field-image {
  grid-area: picture;
  overflow: hidden;
}

.contact-card .views-field-field-image img {
  border: 1px solid black;
  border-radius: 50%;
  width: 120px;
}

.contact-card .views-field-title {
  font-weight: bold;
  grid-area: name;
}

.contact-card .views-field-field-position {
  grid-area: position;
}

.contact-card .views-field-body {
  color: #666666;
  border-top: 1px lightgray solid;
  border-bottom: 1px #c5c5c5 solid;
  grid-area: description;
  display: flex;
  align-items: center;
}

.contact-card .views-field-body p {
  line-height: 20px;
  margin-bottom: 0;
}

.contact-card .views-field-field-phone img,
.contact-card .views-field-field-e-mail img,
.contact-card .views-field-field-room-number img {
  width: 25px;
}