.block-views-ge-office-contact-block .block-title {
  text-align: center;
}

.office-contact * {
  padding: 5px 10px;
  font-weight: bold;
}

@media screen and (min-width: 541px) {
  .office-contact .views-field-field-phone,
  .office-contact .views-field-field-room-number {
    border-right: 2px gray solid;
  }

  .office-contact {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 540px) {
  .office-contact * {
    text-align: center;
  }
}